body {
  background: url("banner.jpg");
  background-size: cover;
  font-family: Arial;
}

.form {
  max-width: 350px;
  border-radius: 20px;
  margin: auto;
  background: rgba(0, 0, 0, 0.664);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  margin-top: 100px;
}
h2 {
  text-align: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.274);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}
button {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #60adde;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

button:hover {
  background: #003366;
  opacity: 0.7;
  cursor: pointer;
}
